MQTT-Switch-flows.json
[
    {
        "id": "64b7a5d8520cdabf",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87bd706a.aec93",
        "type": "comment",
        "z": "64b7a5d8520cdabf",
        "name": "Select output port based on input message value",
        "info": "Switch node can route input message according to predefined rules.\n",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec0f4187.0bf9e",
        "type": "switch",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "e3d35f5a.ff33"
            ],
            [
                "91114621.cdd9b8"
            ],
            [
                "bcbd960b.2f4f48"
            ]
        ]
    },
    {
        "id": "903f0813.e99318",
        "type": "debug",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "bcbd960b.2f4f48",
        "type": "change",
        "z": "64b7a5d8520cdabf",
        "name": "Positive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "positive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "efb63613.b0aa08",
                "db9fbadd7626c6ef"
            ]
        ]
    },
    {
        "id": "91114621.cdd9b8",
        "type": "change",
        "z": "64b7a5d8520cdabf",
        "name": "Zero",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "zero",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "6d4214c1.524a9c",
                "df377ac82e00b305"
            ]
        ]
    },
    {
        "id": "e3d35f5a.ff33",
        "type": "change",
        "z": "64b7a5d8520cdabf",
        "name": "Negative",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "negative",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "903f0813.e99318",
                "1a843da7563bfc2e"
            ]
        ]
    },
    {
        "id": "6d4214c1.524a9c",
        "type": "debug",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "efb63613.b0aa08",
        "type": "debug",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "398299e.aab0b66",
        "type": "inject",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-10",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ec0f4187.0bf9e"
            ]
        ]
    },
    {
        "id": "dba0f204.13c4b",
        "type": "inject",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "ec0f4187.0bf9e"
            ]
        ]
    },
    {
        "id": "bcc219f0.48d8e8",
        "type": "inject",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "ec0f4187.0bf9e"
            ]
        ]
    },
    {
        "id": "db9fbadd7626c6ef",
        "type": "mqtt out",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "topic": "INNOVA/SWITCH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "784a2cdda1891ed7",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "df377ac82e00b305",
        "type": "mqtt out",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "topic": "INNOVA/SWITCH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "784a2cdda1891ed7",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a843da7563bfc2e",
        "type": "mqtt out",
        "z": "64b7a5d8520cdabf",
        "name": "",
        "topic": "INNOVA/SWITCH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "784a2cdda1891ed7",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "784a2cdda1891ed7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]