Tasmota-WSP8266-flows.json
[
    {
        "id": "59acf99.9a92308",
        "type": "comment",
        "z": "10c5591735026e31",
        "name": "Validate input JSON string",
        "info": "JSON node can validate input JSON string using [JSON schema](https://json-schema.org/) when converting to JavaScript object.",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "17942ee67349b76f",
        "type": "json",
        "z": "10c5591735026e31",
        "name": "jsonConv",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 260,
        "y": 80,
        "wires": [
            [
                "a6aae607567984e1",
                "24a7aea280311955"
            ]
        ]
    },
    {
        "id": "a6aae607567984e1",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "create tele msg",
        "func": "var str = msg.topic;\nvar array = str.split('/')\nvar myDevice = array[1];\n\nif (!flow.get(\"tasmota_devices\")) {\n    flow.set(\"tasmota_devices\", new Set());\n}\nflow.get(\"tasmota_devices\").add(myDevice);\n\nvar sensorData = {\n    device: myDevice,\n    Time:msg.payload.Time,\n    event: 'tele',\n    Analog: msg.payload.ANALOG.A0,\n    Temperature: msg.payload.DHT11.Temperature,\n    Humodity: msg.payload.DHT11.Humidity,\n    DewPoint: msg.payload.DHT11.DewPoint\n}\nmsg.payload = sensorData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "3b21c3cd17f33539",
                "6bf142a89749b5e9"
            ]
        ]
    },
    {
        "id": "4448930f77b41629",
        "type": "mqtt in",
        "z": "10c5591735026e31",
        "name": "ESP82-06",
        "topic": "ossuser1/ESP82-06/tele/SENSOR",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "341b138f.603aec",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 80,
        "y": 80,
        "wires": [
            [
                "17942ee67349b76f"
            ]
        ]
    },
    {
        "id": "5307ed0e04e258e8",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy tele",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b21c3cd17f33539",
        "type": "influxdb out",
        "z": "10c5591735026e31",
        "d": true,
        "influxdb": "b9a5009ab2f652f5",
        "name": "energyTele",
        "measurement": "energyTele",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "24a7aea280311955",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "function 1",
        "func": "var str = msg.topic;\nvar array = str.split('/');\n//var myDevice = array[1];\n//msg0 = {payload: msg.payload.comment.user.login };\nvar msg1 = {payload: array[1]};\nvar msg2 = {payload: msg.payload.Time};\nvar msg3 = {payload: msg.payload.ANALOG.A0};\nvar msg4 = {payload: msg.payload.DHT11.Temperature};\nvar msg5 = {payload: msg.payload.DHT11.Humidity};\nvar msg6 = {payload: msg.payload.DHT11.DewPoint};\nvar msg7 = {payload: msg.payload.TempUnit};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];\n//return [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "5307ed0e04e258e8",
                "de93366912d543b1"
            ],
            [
                "5307ed0e04e258e8",
                "283e9ef627a15849"
            ],
            [
                "5307ed0e04e258e8",
                "094c3f3dacfa91ba"
            ],
            [
                "5307ed0e04e258e8",
                "3816535bb774d1bd"
            ],
            [
                "5307ed0e04e258e8",
                "1ff851d18c518d1c"
            ],
            [
                "5307ed0e04e258e8",
                "b0c405068f960bf0"
            ],
            [
                "5307ed0e04e258e8",
                "dc663b7ffb7018d6"
            ]
        ]
    },
    {
        "id": "6bf142a89749b5e9",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy tele",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "3816535bb774d1bd",
        "type": "ui_chart",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff851d18c518d1c",
        "type": "ui_gauge",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "b0c405068f960bf0",
        "type": "ui_numeric",
        "z": "10c5591735026e31",
        "name": "",
        "label": "Dewpoint",
        "tooltip": "",
        "group": "0ec641cf00498276",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "de93366912d543b1",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sation ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "283e9ef627a15849",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "094c3f3dacfa91ba",
        "type": "ui_gauge",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "ANALOG",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "dc663b7ffb7018d6",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Unit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "341b138f.603aec",
        "type": "mqtt-broker",
        "name": "MQTTIP",
        "broker": "mqttip.osszone.com",
        "port": "1883",
        "clientid": "MQ-ESP82-06",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9a5009ab2f652f5",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "house",
        "name": "InfluxDB House",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "0ec641cf00498276",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "4b8497a789fba3a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b8497a789fba3a7",
        "type": "ui_tab",
        "name": "ESP82-06",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]