Tasmota-ESP8266-flows2.json
[
    {
        "id": "59acf99.9a92308",
        "type": "comment",
        "z": "10c5591735026e31",
        "name": "Validate input JSON string",
        "info": "JSON node can validate input JSON string using [JSON schema](https://json-schema.org/) when converting to JavaScript object.",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "17942ee67349b76f",
        "type": "json",
        "z": "10c5591735026e31",
        "name": "jsonConv",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 260,
        "y": 80,
        "wires": [
            [
                "a6aae607567984e1",
                "24a7aea280311955"
            ]
        ]
    },
    {
        "id": "a6aae607567984e1",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "create tele msg",
        "func": "var str = msg.topic;\nvar array = str.split('/')\nvar myDevice = array[1];\n\nif (!flow.get(\"tasmota_devices\")) {\n    flow.set(\"tasmota_devices\", new Set());\n}\nflow.get(\"tasmota_devices\").add(myDevice);\n\nvar sensorData = {\n    device: myDevice,\n    Time:msg.payload.Time,\n    event: 'tele',\n    Analog: msg.payload.ANALOG.A0,\n    Temperature: msg.payload.DHT11.Temperature,\n    Humodity: msg.payload.DHT11.Humidity,\n    DewPoint: msg.payload.DHT11.DewPoint\n}\nmsg.payload = sensorData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "3b21c3cd17f33539",
                "6bf142a89749b5e9"
            ]
        ]
    },
    {
        "id": "4448930f77b41629",
        "type": "mqtt in",
        "z": "10c5591735026e31",
        "name": "ESP82-06",
        "topic": "ossuser1/ESP82-06/tele/SONSOR",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "341b138f.603aec",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 80,
        "y": 80,
        "wires": [
            [
                "17942ee67349b76f"
            ]
        ]
    },
    {
        "id": "5307ed0e04e258e8",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy tele",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b21c3cd17f33539",
        "type": "influxdb out",
        "z": "10c5591735026e31",
        "d": true,
        "influxdb": "b9a5009ab2f652f5",
        "name": "energyTele",
        "measurement": "energyTele",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "24a7aea280311955",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "function 1",
        "func": "var str = msg.topic;\nvar array = str.split('/');\n//var myDevice = array[1];\n//msg0 = {payload: msg.payload.comment.user.login };\nvar msg1 = {payload: array[1]};\nvar msg2 = {payload: msg.payload.Time};\nvar msg3 = {payload: msg.payload.ANALOG.A0};\nvar msg4 = {payload: msg.payload.DHT11.Temperature};\nvar msg5 = {payload: msg.payload.DHT11.Humidity};\nvar msg6 = {payload: msg.payload.DHT11.DewPoint};\nvar msg7 = {payload: msg.payload.TempUnit};\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7];\n//return [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "5307ed0e04e258e8",
                "de93366912d543b1"
            ],
            [
                "5307ed0e04e258e8",
                "283e9ef627a15849"
            ],
            [
                "5307ed0e04e258e8",
                "094c3f3dacfa91ba"
            ],
            [
                "5307ed0e04e258e8",
                "0e9695a5e138891f"
            ],
            [
                "5307ed0e04e258e8",
                "1ff851d18c518d1c"
            ],
            [
                "5307ed0e04e258e8",
                "b0c405068f960bf0"
            ],
            [
                "5307ed0e04e258e8",
                "dc663b7ffb7018d6"
            ]
        ]
    },
    {
        "id": "6bf142a89749b5e9",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy tele",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "1ff851d18c518d1c",
        "type": "ui_gauge",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "className": "",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "b0c405068f960bf0",
        "type": "ui_numeric",
        "z": "10c5591735026e31",
        "name": "",
        "label": "Dewpoint",
        "tooltip": "",
        "group": "0ec641cf00498276",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "de93366912d543b1",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sation ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "283e9ef627a15849",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "094c3f3dacfa91ba",
        "type": "ui_gauge",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "ANALOG",
        "label": "/1000",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "dc663b7ffb7018d6",
        "type": "ui_text",
        "z": "10c5591735026e31",
        "group": "0ec641cf00498276",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Unit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "6728996bc0c17671",
        "type": "json",
        "z": "10c5591735026e31",
        "name": "jsonConv",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "6ca9e2563f126327"
            ]
        ]
    },
    {
        "id": "6ca9e2563f126327",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "create tele msg",
        "func": "var str = msg.topic;\nvar array = str.split('/')\nvar myDevice = array[2];\n\nif (!flow.get(\"tasmota_devices\")) {\n    flow.set(\"tasmota_devices\", new Set());\n}\nflow.get(\"tasmota_devices\").add(myDevice);\n\nvar sensorData = {\n    device: myDevice,\n    event: 'tele',\n    power: msg.payload.ENERGY.Power,\n    today: msg.payload.ENERGY.Today,\n    yesterday: msg.payload.ENERGY.Yesterday,\n    total: msg.payload.ENERGY.Total\n}\nmsg.payload = sensorData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 680,
        "wires": [
            [
                "221b5e43a269b6f1",
                "22cf25550fc0b399"
            ]
        ]
    },
    {
        "id": "fa6d098b55cd7442",
        "type": "mqtt in",
        "z": "10c5591735026e31",
        "d": true,
        "name": "",
        "topic": "house/tele/+/SENSOR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "341b138f.603aec",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "6728996bc0c17671"
            ]
        ]
    },
    {
        "id": "221b5e43a269b6f1",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy tele",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "331d2ec263143b18",
        "type": "mqtt in",
        "z": "10c5591735026e31",
        "d": true,
        "name": "",
        "topic": "house/stat/+/STATUS10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "341b138f.603aec",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 860,
        "wires": [
            [
                "df645c34c3bc7413"
            ]
        ]
    },
    {
        "id": "245734416f8ab6a5",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "create tele msg",
        "func": "var str = msg.topic;\nvar array = str.split('/')\nvar myDevice = array[2];\n\nif (!flow.get(\"tasmota_devices\")) {\n    flow.set(\"tasmota_devices\", new Set());\n}\nflow.get(\"tasmota_devices\").add(myDevice);\n\nvar sensorData = {\n    device: myDevice,\n    event: 'tele',\n    power: msg.payload.StatusSNS.ENERGY.Power,\n    today: msg.payload.StatusSNS.ENERGY.Today,\n    yesterday: msg.payload.StatusSNS.ENERGY.Yesterday,\n    total: msg.payload.StatusSNS.ENERGY.Total\n}\nmsg.payload = sensorData;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 860,
        "wires": [
            [
                "965bf480fcc635bc",
                "f9306796d3ece2b8"
            ]
        ]
    },
    {
        "id": "df645c34c3bc7413",
        "type": "json",
        "z": "10c5591735026e31",
        "name": "jsonConv",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "245734416f8ab6a5"
            ]
        ]
    },
    {
        "id": "f9306796d3ece2b8",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "energy Daily",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 900,
        "wires": []
    },
    {
        "id": "f41a7198d18d05db",
        "type": "function",
        "z": "10c5591735026e31",
        "name": "loop devices - CMND STATUS 10",
        "func": "for(const device of flow.get(\"tasmota_devices\")) {\n    // emit trigger\n    msg.topic = \"house/cmnd/\" + device + \"/STATUS\";\n    msg.payload = 10;\n    node.send(msg)\n}\nreturn;// msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 780,
        "wires": [
            [
                "46d17c242db85847",
                "3c058e76f9ffabeb"
            ]
        ]
    },
    {
        "id": "46d17c242db85847",
        "type": "debug",
        "z": "10c5591735026e31",
        "name": "loop over devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "3c058e76f9ffabeb",
        "type": "mqtt out",
        "z": "10c5591735026e31",
        "d": true,
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "341b138f.603aec",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "22cf25550fc0b399",
        "type": "influxdb out",
        "z": "10c5591735026e31",
        "influxdb": "b9a5009ab2f652f5",
        "name": "energyTele",
        "measurement": "energyTele",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "965bf480fcc635bc",
        "type": "influxdb out",
        "z": "10c5591735026e31",
        "influxdb": "b9a5009ab2f652f5",
        "name": "energyDaily",
        "measurement": "energyDaily",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "9b58036b4aee0c39",
        "type": "chronos-scheduler",
        "z": "10c5591735026e31",
        "d": true,
        "name": "Schedule - 23:58:02",
        "config": "b6db3ecaecccf880",
        "schedule": [
            {
                "trigger": {
                    "type": "crontab",
                    "value": "2  58  23  *  *  *  *"
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "payload",
                        "type": "str",
                        "value": "1"
                    }
                }
            }
        ],
        "multiPort": false,
        "nextEventPort": false,
        "disabled": false,
        "outputs": 1,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "f41a7198d18d05db"
            ]
        ]
    },
    {
        "id": "0e9695a5e138891f",
        "type": "ui_gauge",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "72877605b26a35eb",
        "type": "ui_multistate_switch",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 7,
        "width": 0,
        "height": 1,
        "label": "Switch 06",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "ON",
                "value": "false",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "OFF",
                "value": "true",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "9a22c7f304bd07be"
            ]
        ]
    },
    {
        "id": "9a22c7f304bd07be",
        "type": "mqtt out",
        "z": "10c5591735026e31",
        "name": "",
        "topic": "ossuser1/ESP82-06/cmnd/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39334996fdfb7ae7",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "36abd6e01176d8b1",
        "type": "ui_multistate_switch",
        "z": "10c5591735026e31",
        "name": "",
        "group": "0ec641cf00498276",
        "order": 7,
        "width": 0,
        "height": 1,
        "label": "Switch 01",
        "stateField": "payload",
        "enableField": "enable",
        "passthroughField": "passthrough",
        "inputMsgField": "inputmsg",
        "rounded": true,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "multilineLabel": false,
        "passThrough": "never",
        "inputMsg": "all",
        "userInput": "enabled_show",
        "options": [
            {
                "label": "ON",
                "value": "true",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "OFF",
                "value": "false",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "9603b0684da74fc2"
            ]
        ]
    },
    {
        "id": "9603b0684da74fc2",
        "type": "mqtt out",
        "z": "10c5591735026e31",
        "name": "",
        "topic": "ossuser1/ESP8266-01/cmnd/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39334996fdfb7ae7",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "341b138f.603aec",
        "type": "mqtt-broker",
        "name": "MQTTIP",
        "broker": "mqttip.osszone.com",
        "port": "1883",
        "clientid": "MQ-ESP82-06",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9a5009ab2f652f5",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "house",
        "name": "InfluxDB House",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "0ec641cf00498276",
        "type": "ui_group",
        "name": "SENSOR",
        "tab": "4b8497a789fba3a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6db3ecaecccf880",
        "type": "chronos-config",
        "name": "ChronosCFG",
        "timezone": "",
        "sunPositions": []
    },
    {
        "id": "39334996fdfb7ae7",
        "type": "mqtt-broker",
        "name": "ESP82-06-out",
        "broker": "mqttip.osszone.com",
        "port": "1883",
        "clientid": "ESP82-06-SW1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4b8497a789fba3a7",
        "type": "ui_tab",
        "name": "ESP82-06",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]